<form action="/subscribe" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name" id="">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email">
    <label for="zipCode">Zip Code</label>
    <input type="text" name="zipCode" id="" pattern="[0-9]{5}" placeholder="Zip Code">
    <input type="submit" value="Submit">
</form>